.admin-main-container{
    max-width: 900px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
}

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-container-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.admin-container-column{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.column{
    flex-direction: column;
}

.admin-table-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table-header th {
    max-height: 60px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.filler {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 3px!important;
    margin: 0;
    height: 100%;
    min-height: 100%; /* Ensures it stretches to fill the header height */
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 2;
}

.admin-table-body {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ddd;
    border-top: none;
}

.admin-table-body table {
    width: 100%;
}

.admin-table-body td {
    padding: 0.2rem 0.5rem;
    text-align: center;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.admin-table-body tr:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.admin-details {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
}

/* MOVIE */

.admin-table-container-movie {
    width: 100%;
}

.admin-table-container-movie .admin-table-body tr:hover {
    background-color: #f4f4f4;
    cursor: default;
}

.admin-details-movie {
    width: calc(100% - 2rem);
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.column-item {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.full-width-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.admin-container ul{
    padding-left: 10px;
    margin: 0;
}

/* LANGUAGE */
.admin-table-container-language {
    width: 50%;
}

.admin-details-language {
    width: 45%;
}

/* CATEGORY */

.admin-table-container-category {
    width: 50%;
}

.admin-details-category {
    width: 45%;
}

/* ACTOR */

.admin-table-container-actor {
    width: 50%;
}

.admin-table-body-actor {
    height: 180px;
}

.admin-details-actor {
    width: 45%;
}