.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    padding-top: 0px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.modal-actions {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.confirm-button {
    width: 150px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #555;
}

.cancel-button {
    width: 150px;
    background-color: #bbb;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #aaa;
}
